{% extends 'form_div_layout.html.twig' %}

{% block field_errors %}
{% spaceless %}
<span class="help-inline formerror">
	{% if errors|length > 0 %}
		{% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
	    {% endfor %}
	{% endif %}
</span>
{% endspaceless %}
{% endblock field_errors %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="alert alert-error">
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}