{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	Vitun ilmokilke
{% endblock %}

{% block body %}
<div class="container">
	<form action="{{ path('create', { 'id': id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>
</div>
{% endblock %}
