{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <p>Haista vittu {{ event }}!</p>
{% endblock %}
