{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	Vitun ilmokilke
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9" id="title">
				<h1>Ilmokilke</h1>
			</div>
			<div class="span3">
				<h3>T&auml;h&auml;n voisi kirjoittaa jotain</h3>
			</div>
		</div>
		<div class="row" id="content">
			<div class="span12">
    			<h2 id="eventtitle">{{ eventname }}</h2>
    			<p id="eventtime">{{ starttime }} - {{ endtime }}</p>
    			<p id="eventsummary">{{ summary }}</p>
    			<button id="eventsubscribe" class="btn btn-info">Ilmoittaudu</button>
    		</div>
    	</div>
    	{% include 'ProdekoIlmoBundle:Ilmo:footer.html.twig' %}
    </div>
{% endblock %}
