<div class="container" id="footer">
<div class="row">
	<div id="footer" class="span12">
		<p>{% trans %}copyright{% endtrans %}</p>
		<p>{% trans %}deployed{% endtrans %}: {{ deployed }}</p>
	</div>
</div>
</div>